
// my colors
$blue_main: #375874;
$blue_transperant: rgba(55, 88, 116, 0.5);
$neon_green: #19FFB3;
$neon_pink: #F04A83;
$light_gray: #B6B6B6;
$white_transperant: rgba(255, 255, 255, 0.9);
$neon_pink_hover: #C93D6D;
$white: #ffffff;

// fyrir fonta útreikninga
$browser-context: 16;