/* Hér byrjar scss fyrir leitina */
.leitar-input {
	@include textLayout(pLeit);
		&:focus {
			outline: none;
		}
	width: 100%;
	height: em(100); 
	border:none;
	border-bottom: em(2) solid $neon_green;
	border-left: em(70) solid $neon_green;
	padding-bottom: em(30);
	padding-top: em(35);
	text-indent: em(80);
	margin-bottom: em(30);

	@media only screen and (max-width: 768px) {
            /* For mobile phones: */
            @include textLayout(pLeitMobile);
            height: em(70); 
            border-left: em(50) solid $neon_green;
            padding-bottom: em(10);
			padding-top: em(14);
			text-indent: em(40);
	}
	@media only screen and (max-width: 400px) {
            /* For mobile phones: */
            @include textLayout(pLeitMobile);
            height: em(40); 
            border-left: em(30) solid $neon_green;
            padding-bottom: em(2);
			padding-top: em(4);
			text-indent: em(20);
	}
}
/* Hér endar scss fyrir leitina */


/* Hér byrjar scss fyrir flokka valið */
.stad_val ul {
	display: inline-flex;
}
.flokka-val {
	@include hoverLina_flokkar;
	    padding-top: em(8);
	    margin-left: em(80);

	@media only screen and (max-width: 1200px) {
     	  margin-left: em(1);
     }
     @media only screen and (min-width: 769px) {
     	  .flokka-val-inner_2 {
	    		display: none;
	        	}
     }
    @media only screen and (max-width: 768px) {
    		display: none;
    		background-color: $white;
    		z-index: 9999999;
    		width: 100%;
    		left: 0;
    		top: 0;
 			position: absolute;
    		.flokka-val-inner {
	    		display: none;
	        	}
	    	.flokka-val-inner_2 {
	    		button.myMobileButton {
	    			font-size: em(24);
	    			color: $blue_main;
	    			width: em(200);
	    			padding: em(30) 0 em(40) em(10);
	    			@media only screen and (min-width: 420px) {
	    				    margin-left: 200px;
	    			}
	    			margin: 0 auto;
	    			&:before {
	    				display: none;
	    			}
	    			&:after {
	    				display: none;
	    			}
	    			
	    		}
	        }
	    	ul {
	    		display: block;
	    	}
    }

  	button {
    	 @media only screen and (max-width: 1200px) {
    	 	margin-left: em(0);
    	}
    	
    } 
}
button.velja_stad {
		 @include textLayout(pButtonText);
	    background: #FFF;
	    padding: em(8) em(17) ;
	    height: em(38);
	    margin-top: em(-6);
	    margin-left: em(20);
	    border: em(3) solid $neon_green;
	    display: inline-block;
	    text-align: center;
	    cursor: pointer;
	    box-shadow: inset 0 0 0 0 $neon_green;
		-webkit-transition: all ease 0.8s;
		-moz-transition: all ease 0.8s;
		transition: all ease 0.8s;
		display: none;
		@media only screen and (max-width: 768px) {
	     	  display: block;
	     	  position: absolute;
	     }
}
button.velja_stad:hover {
    box-shadow: inset em(250) 0 0 0 $neon_green;
    color: #FFF;
}
.right_flokka-val {
	margin-left: em(-50);
	.first {
		border-left: em(2) solid $blue_main;
		margin-left: em(4);
		margin-right: em(8);
		padding-left: em(60);

		@media only screen and (max-width: 1200px) {
	    		border: none;
	    		margin-left: em(0);
				margin-right: em(8);
				padding-left: em(0);
		}
	}

	#two_cards img, #four_cards img{
		height: em(28);
	}

	@media only screen and (max-width: 1200px) {
	    		margin-left: em(-10);
    			margin-top: em(23);	
    }
    .opid_nuna_takki {
		@media only screen and (max-width: 768px) {
	     	  float: right;
    			margin-right: em(20);
    			margin-top: em(-30);
    			margin-bottom: em(10);
	     }
	}	
}
button.opid_nuna_takki {
    @include textLayout(pButtonText);
    background: #FFF;
    padding: em(8) em(17) ;
    height: em(38);
    margin: em(25);
    margin-left: em(50);
    border: em(3) solid $neon_pink;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 $neon_pink;
	-webkit-transition: all ease 0.8s;
	-moz-transition: all ease 0.8s;
	transition: all ease 0.8s;
	 @media only screen and (max-width: 1200px) {
	    		margin: em(0);
   	 			margin-left: em(20);
	    	}
	 @media only screen and (max-width: 992px) {
	    	 	margin-left: em(95);
	    	}
}
button.opid_nuna_takki:hover, button.opid_nuna_takki.active {
    box-shadow: inset em(250) 0 0 0 $neon_pink;
    color: #FFF;
}


   


/* Hér ENDAR scss fyrir flokka valið */


/* Hér byrjar scss fyrir bigCards */

.big_hofsoslaug {
    background-image: url(../images/hofsos.jpg);
    @include bakMynd_bigCard;
}
.big_krossneslaug {
    background-image: url(../images/krossnes.jpg);
     @include bakMynd_bigCard;
}
.big_laugardalslaug {
    background-image: url(../images/laugardalslaug.jpg);
     @include bakMynd_bigCard;
}
.big_sundholl_rvk {
    background-image: url(../images/sundholl_rvk.jpg);
    @include bakMynd_bigCard;
}
.big_laugaskard {
    background-image: url(../images/laugaskard.jpg);
     @include bakMynd_bigCard;
}
.big_nautholsvik {
    background-image: url(../images/nautholsvik.jpg);
    @include bakMynd_bigCard;
}
.akureyrarlaug {
	background-image: url(../images/akureyrarlaug.jpg);
	@include bakMynd_bigCard;
}
.thelamerkurlaug {
	background-image: url(../images/thelamerkurlaug.jpg);
	@include bakMynd_bigCard;;
}
.husavikurlaug {
	background-image: url(../images/husavikurlaug.jpg);
	@include bakMynd_bigCard;
}
.akraneslaug {
	background-image: url(../images/akraneslaug.jpg);
	@include bakMynd_bigCard;
}
.borgarneslaug {
background-image: url(../images/borgarneslaug.jpg);
@include bakMynd_bigCard;
}
.patreksfjardarlaug {
background-image: url(../images/patreksfjardarlaug.jpg);
@include bakMynd_bigCard;
}
.hornafjardarlaug {
background-image: url(../images/hornafjardarlaug.jpg);
@include bakMynd_bigCard;
}
.egilsstadalaug {
background-image: url(../images/egilsstadalaug.jpg);
@include bakMynd_bigCard;
}
.eskifjardarlaug {
background-image: url(../images/eskifjardarlaug.jpg);
@include bakMynd_bigCard;
}
.neskaupstadarlaug {
background-image: url(../images/neskaupstadarlaug.jpg);
@include bakMynd_bigCard;
}
.gardur_laug {
background-image: url(../images/gardur_laug.jpg);
@include bakMynd_bigCard;
}
.hella_laug {
background-image: url(../images/hella_laug.jpg);
@include bakMynd_bigCard;
}
.selfosslaug {
background-image: url(../images/selfosslaug.jpg);
@include bakMynd_bigCard;
}
.vik_laug {
background-image: url(../images/vik_laug.jpg);
@include bakMynd_bigCard;
}
.brautarholtslaug {
background-image: url(../images/brautarholtslaug.jpg);
@include bakMynd_bigCard;
}
.lagafellslaug {
background-image: url(../images/lagafellslaug.jpg);
@include bakMynd_bigCard;
}
.alftaneslaug {
background-image: url(../images/alftaneslaug.jpg);
@include bakMynd_bigCard;
}
.breidholtslaug {
background-image: url(../images/breidholtslaug.jpg);
@include bakMynd_bigCard;
}
.bigCard {
	@include hoverLina_afgreiðslutimi;
	
}

.inner_bigCard{
	position: relative;
	margin-bottom: em(32);
		&:hover {
			cursor: pointer;
    		padding-bottom: em(2);
		}
}	
	
.inner_bigCard_headline {
	width: em(150);
	height: em(32);
	background: $blue_transperant;
	float: left;
	@include textLayout(h2BigCard);
	.stad_icon_stor {
		width: em(10);
		margin-right: em(7);
		margin-top: em(-2);
   		margin-left: em(10);
	}
	h2 {
		margin-left: em(-35);
	}
}
.inner_bigCard_afgreidslutimar {
	width: em(360);
	height: em(180);
	background: $white_transperant;
	position: absolute;
    bottom: 0;
    margin-left: em(30);
    @media only screen and (max-width: 775px) {
				margin-left: em(-15);
			}
  	h3 {
		@include textLayout(h3BigCard);
		margin-left: em(35);
		margin-top: em(35);
			@media only screen and (max-width: 992px) {
				@include undirLina_afgreiðslutimi_mobile;

			}
			@media only screen and (max-width: 775px) {
				@include undirLina_afgreiðslutimi_mobile;
				width: em(247);
			}
		}
}

.inner_bigCard_afgreidslutimar  ul {
		margin-top: em(10);
		li {
	@include textLayout(pBigCard);
	}
}
.inner_bigCard_afgreidslutimar_timar ul {
		margin-left: em(-20);
		@media only screen and (max-width: 992px) {
			float: right;
		}
		li {
			@media only screen and (max-width: 992px) {
			 margin-right: 40px;
			}
		}
}
.inner_bigCard_afgreidslutimar_dagar {
		@media only screen and (max-width: 992px) {
			float: left;
	}
}

.row-bigCard {
	margin: 0 auto; 
}

/* Hér endar scss fyrir bigCards */


/* Hér byrjar scss fyrir cardsSmall */
.smallPlaceInfo {
	background-color: $blue_transperant;
	width: 100%;
	height: em(50);
	@include textLayout(h2SmallCard);
}
.smallCard{
	overflow: hidden;
	position: relative;
	margin-bottom: em(30);
	.smallTimeInfo{
		@include smallCardInfoTime;
		background-color: $white_transperant;
		position: absolute;
		bottom: em(-124);
		transition: all 0.5s ease;
		height: em(170);
    	width: 100%;
	}
	.stad_icon_minni {
		width: em(12);
		margin-right: em(6);
		margin-top: em(-2);
	}
	
}
.smallCard:hover .smallTimeInfo{
	bottom: 0;
}
.Cards_big {
	margin-top: em(20);
	@media only screen and (max-width: 420px) {
			 margin-left: em(35);
			}

}
.cardsSmall {
	.small_hofsoslaug {
	background-image: url(../images/small_hofsos.jpg);
	@include smallCardInfo;
	}
	.small_krossneslaug {
	background-image: url(../images/small_krossnes.jpg);
	@include smallCardInfo;
	}
	.small_laugardalslaug {
	background-image: url(../images/small_laugardalslaug.jpg);
	@include smallCardInfo;
	}
	.small_sundholl_rvk {
	background-image: url(../images/small_sundholl_rvk.jpg);
	@include smallCardInfo;
	}
	.small_laugaskard {
	background-image: url(../images/small_laugaskard.jpg);
	@include smallCardInfo;
	}
	.small_nautholsvik {
	background-image: url(../images/small_nautholsvik.jpg);
	@include smallCardInfo;
	}
	.small_akureyrarlaug {
	background-image: url(../images/small_akureyrarlaug.jpg);
	@include smallCardInfo;
	}
	.small_thelamerkurlaug {
	background-image: url(../images/small_thelamerkurlaug.jpg);
	@include smallCardInfo;
	}
	.small_husavikurlaug {
	background-image: url(../images/small_husavikurlaug.jpg);
	@include smallCardInfo;
	}
	.small_akraneslaug {
	background-image: url(../images/small_akraneslaug.jpg);
	@include smallCardInfo;
	}
	.small_borgarneslaug {
	background-image: url(../images/small_borgarneslaug.jpg);
	@include smallCardInfo;
	}
	.small_patreksfjardarlaug {
	background-image: url(../images/small_patreksfjardarlaug.jpg);
	@include smallCardInfo;
	}
	.small_hornafjardarlaug {
	background-image: url(../images/small_hornafjardarlaug.jpg);
	@include smallCardInfo;
	}
	.small_egilsstadalaug {
	background-image: url(../images/small_egilsstadalaug.jpg);
	@include smallCardInfo;
	}
	.small_eskifjardarlaug {
	background-image: url(../images/small_eskifjardarlaug.jpg);
	@include smallCardInfo;
	}
	.small_neskaupstadarlaug {
	background-image: url(../images/small_neskaupstadarlaug.jpg);
	@include smallCardInfo;
	}
	.small_gardur_laug {
	background-image: url(../images/small_gardur_laug.jpg);
	@include smallCardInfo;
	}
	.small_hella_laug {
	background-image: url(../images/small_hella_laug.jpg);
	@include smallCardInfo;
	}
	.small_selfosslaug {
	background-image: url(../images/small_selfosslaug.jpg);
	@include smallCardInfo;
	}
	.small_vik_laug {
	background-image: url(../images/small_vik_laug.jpg);
	@include smallCardInfo;
	}
	.small_brautarholtslaug {
	background-image: url(../images/small_brautarholtslaug.jpg);
	@include smallCardInfo;
	}
	.small_lagafellslaug {
	background-image: url(../images/small_lagafellslaug.jpg);
	@include smallCardInfo;
	}
	.small_alftaneslaug {
	background-image: url(../images/small_alftaneslaug.jpg);
	@include smallCardInfo;
	}
	.small_breidholtslaug {
	background-image: url(../images/small_breidholtslaug.jpg);
	@include smallCardInfo;
	}
}

/* Hér endar scss fyrir cardsSmall */

/* hér er smá til að minni spjoldin komi ekki upp í minni skjastærðum */

@media only screen and (max-width: 992px) {

	.Cards_big {
		display: block !important;
	}
	.cardsSmall {
		display: none !important;
	}
	#two_cards {
		display: none;
	}
	#four_cards {
		display: none;
	}
}

/* Hér er scss fyrir MixItUp */

#cardsBig .mix {
	display: none;
}


#cards_small .mix {
	display: none;
}

.glyphicon-menu-right {
	color: $neon_green;
}














