/* Stillingar fyrir fonta - avenir-next */
@font-face {
  font-family: 'font-demi';
  src: url('../fonts/avenir-next/avenirnextltpro-demi-webfont.eot'), /* IE9 Compat Modes */
       url('../fonts/avenir-next/avenirnextltpro-demi-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/avenir-next/avenirnextltpro-demi-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/avenir-next/avenirnextltpro-demi-webfont.svg') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'font-regular';
  src: url('../fonts/avenir-next/avenirnextltpro-regular-webfont.eot'), /* IE9 Compat Modes */
       url('../fonts/avenir-next/avenirnextltpro-regular-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/avenir-next/avenirnextltpro-regular-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/avenir-next/avenirnextltpro-regular-webfont.svg') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'font-ultlt';
  src: url('../fonts/avenir-next/AvenirNextLTPro-UltLt.eot'), /* IE9 Compat Modes */
       url('../fonts/avenir-next/AvenirNextLTPro-UltLt.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/avenir-next/AvenirNextLTPro-UltLt.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/avenir-next/AvenirNextLTPro-UltLt.svg') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'font-bebas';
  src: url('../fonts/bebas-neue/bebas_neue_regular-webfont.eot'), /* IE9 Compat Modes */
       url('../fonts/bebas-neue/bebas_neue_regular-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/bebas-neue/bebas_neue_regular-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/bebas-neue/bebas_neue_regular-webfont.woff2') format('woff2'); /*  */
}




